<ion-content class="padding">

  <div class="bar bar-header">
    <div class="h1 title">付款详情</div>
  </div>

  <div class="content has-header">

    <ul class="list">

      <li class="item">
        <label class="item item-input">
          <span class="input-label">账户名：</span>
          <input type="text" ng-model="vm.account" maxlength="11" placeholder="请输入11位手机号">
        </label>
      </li>
      <li class="item">
        <label class="item item-input">
          <span class="input-label">密&nbsp &nbsp码：</span>
          <input type="password" ng-model="vm.password" maxlength="6" placeholder="请输入6位密码">
        </label>
      </li>

    </ul>
    <div>
      <button ng-click="vm.submit()" class="button button-block button-positive " style="margin-top: 350px;padding-left: 20px;padding-right: 20px" disabled>
        <h1>确认付款</h1></button>

    </div>
  </div>


</ion-content>

